{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>this show the dashboard of music list</h1>
<div class="card row">
  <div class="card card-circle">
        <div class="ard-icon">
           <i class="fas fa-apple-alt"></i>
        </div>
        <div class="card-body">
           <h5 class="card-title">Apple</h5>
           <p class="card-text">Some quick example text to build on the card title and card content.</p>
           <a href="#" class="btn btn-primary">Eat me</a>
        </div>
     </div>
</div>
<--
itaonyesha vip ukifungua album ya mziki ya mwimbaji nini ataona na nn atakuwa na uwezo wa kufanya
 -->
{% endblock content %}
